body {
  overflow : hidden;
  margin: 15px;
}
.test-box {
  padding : 20px;
  position:relative;
}
.container {
  height: 100%;
  width : 98%;
  margin : 15px 0;
  border: 2px dashed lightgray;
  padding : 5px 0;
  overflow : auto;
}
.tile {
  display : inline-block;
  position:relative;
  height:175px;
  width:150px;
  background: darkgray;
  overflow : hidden;
  margin : 5px;

.img, .meta {
  positionHOLD : absolute;
  width:100%;
}
.img {
  height:65%;
  background : #B5B5B5;
  background-size: cover;
  background-repeat: no-repeat;
}
.meta {
  height:35%;
  background : black;
  color : white;
  padding : 5px;
  font-family : arial;
  font-size : 110%;
.title {}
}
}

.strand {
&.container {
   white-space : nowrap;
 }
}
.grid {
  height : 330px;
}






